.modalForm {
  position: absolute;
  top: 14%;
  right: 10%;
  background: #fdfcf2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  font-size: 0.6em;
  padding: 7px;
  border-radius: 10px;
  z-index: 100;
  & p {
    padding-right: 10px;
    margin-bottom: 10px;
    display: flex;
  }
}