@use 'reset';
@use 'vars';

  @font-face {
    font-family: 'forward-black';
    src: url('src/assets/fonts/Forwardv0-3-Black.ttf');
  }
  @font-face {
    font-family: 'forward-light';
    src: url('src/assets/fonts/Forwardv0-3-Light.ttf');
  }
  @font-face {
    font-family: 'whoa-filled';
    src: url('src/assets/fonts/WHOA-Top-v0.4.1.ttf');
  }
  @font-face {
    font-family: 'whoa-spine';
    src: url('src/assets/fonts/WHOA-Spine-v0.4.1.ttf');
  }
  @font-face {
    font-family: 'Messapia-Regular';
    src: url('src/assets/fonts/Messapia-Regular.ttf');
  }
  @font-face {
    font-family: 'Messapia-Bold';
    src: url('src/assets/fonts/Messapia-Bold.ttf');
  }
  body {
    width: 100;
    height: 100%;
    background: black;
    color: #fdfcf2;
    font-size: 30px;
    cursor: none;
    font-family: 'whoa-filled', sans-serif;
  }
  html {
    width: 100vw;
    height: 100vh;
    font-size: 24px;
  }

