@use 'reset';
@use 'vars';

  @font-face {
    font-family: 'forward-black';
    src: url('src/assets/fonts/Forwardv0-3-Black.otf');
  }
  @font-face {
    font-family: 'forward-light';
    src: url('src/assets/fonts/Forwardv0-3-Light.otf');
  }
  @font-face {
    font-family: 'whoa-filled';
    src: url('src/assets/fonts/WHOA-Top-v0.4.1.ttf');
  }
  @font-face {
    font-family: 'whoa-spine';
    src: url('src/assets/fonts/WHOA-Spine-v0.4.1.ttf');
  }
  body {
    width: 100vw;
    height: 100vh;
    background: black;
    color: #fdfcf2;
    font-size: 30px;
    font-family: 'whoa-filled', sans-serif;
  }

