.about {
  &-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &-center {
    position: absolute;
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdfcf2;
    z-index: 5;
  }
  &-menuItem {
    &-image {
      &-container {
        border: solid 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &-iconPosition.one {
    position: absolute;
    left: 53%;
    top: 25%;
  }
  &-text {
    font-family: 'Messapia-bold';
    font-size: 0.6em;
    &-container {
      height: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &.first {
        padding-bottom: 5px;
      }
      &-general {
        width: 30vw;
        height: 70vh;
        top: 15%;
        right: 10%;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
      }
    }
  }
}
button {
  cursor: none;
}
