@use 'src/styles/_vars.scss';

.home {
  &-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  &-top {
    width: 100vw;
    height: 47.5vh;
  }
  &-nav {
    width: 100vw;
    height: 15vh;
    background: #fdfcf2;
    color: black;
  }
  &-bottom {
    width: 100vw;
    height: 47.5vh;
  }
}