.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Messapia-Bold';
  overflow: hidden;
  cursor: none;
  &-form {
    width: 25vw;
    height: 70vh;
    & form {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: max(1vw, 8px);
      
     & input {
        width: 100%;
        height: 100%;
        padding: 30px 20px 10px 10px;
        background: black;
        font-family: 'Messapia-Bold';
        cursor: none;
        color: #fdfcf2;
        font-size: 1.2em;
        border-style: none; 
        border-color: Transparent; 
        overflow: auto; 
      }
     & textarea {
        width: 100%;
        height: 100%;
        padding: 30px 20px 0 10px;
        font-family: 'Messapia-Bold';
        font-size: 1em;
        background: black;
        cursor: none;
        color: #fdfcf2;
        border-style: none; 
        border-color: Transparent; 
        overflow: auto;
        margin-bottom: 15px; 
      }
      .formButton {
        position: absolute;
        width: max(3vw, 60px);
        height: max(3vw, 60px);
        border-radius: 50%;
        cursor: pointer;
        background: #fdfcf2;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        overflow: hidden;
      }
    }
  }
}
.input-container {
  position: relative;
  width: max(20vw, 150px);
  height: max(5vh, 50px);
  margin-bottom: 25px;
  border-radius: 5px;
  border: solid 1px #fdfcf2;
    &-message {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: solid 1px #fdfcf2;
    }
}
.inputSpan {
  position: absolute;
  left: 5px;
  font-size: 1em;
  top: 5px;
  background: black;
  padding: 0 10px;
}
.contactForm-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'whoa-filled';
  font-size: 0.6em;
}
.infoBox{
  &-container-left {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 25vw;
    height: 70vh;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-container-right {
    position: absolute;
    top: 13%;
    right: 10%;
    width: 25vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &-logo {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      width: max(4vw, 30px);
      height: max(4vw, 30px);
    }
  }
  &-mapsContainer {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    &-name {
      color: #fdfcf2;
      font-size: 0.7em;
      margin-left: 20px;
     
      width: 100%;
      text-align: center;
    
      
    }
    &-info {
      font-size: 0.5em;
      text-align:center;
      line-height:20px;
    }
    & svg {
      width: max(2vw, 40px);
      height: max(2vw, 40px);
    }
  }
  &-location {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      & p {
      color: #fdfcf2;
        font-size: 0.7em;
        margin-left: 20px;
      }
    }
  }
  &-content {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
  }
  &-link {
    cursor: none;
  }
  &-icon-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
  }
}
.loadingMaps {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 1px #fdfcf2;
}
.contactIcon {
  width: 4vw;

}
.contact-form-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
}
.arobase::before {
  content: "\000040";
}

