@use 'src/styles/_vars.scss';
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievement {
  &-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    cursor: none;
    overflow: hidden;
  }
  &-nav {
    width: 100%;
    height: 9%;
    background: #fdfcf2;
    color: black;
    font-size: 2.5em;
    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between
    }
    &-left {
      width: 30%;
      display: flex;
      justify-content:space-around;
    }
    &-right {
      width: 30%;
      display: flex;
      justify-content:space-around;
    }
  }
}
.achievement-nav-link {
  &:hover { text-decoration: none; }
}

.achievement-nav-link:after,
.achievement-nav-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#000, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 0;
}

.achievement-nav-link:hover:after,
.achievement-nav-link:hover:before
{
backface-visibility: hidden;
border-color: #000;
transition: width 0.3s ease-in-out;
width: 70%;
}

.achievement-nav-link:hover:before {
bottom: auto;
top: 0;
width: 70%;
}
.achievement-nav-link.active:after,
.achievement-nav-link.active:before {
  border: 1px solid rgba(#000, 1);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  width: 70%;
}
