.nav {
  position: absolute;
  width: 100%;
  height: 10%;
  background: #fdfcf2;
  color: black;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:auto auto;
  overflow: hidden;
  z-index: 4;
  &-element {
    width: 38%;
    height: 70%;
    display: flex;
    justify-content:space-around;
  }
}

.leftline, .rightline {
  border: 2px solid rgba(#000, 0.8);
  bottom: 0px;
  display: block;
  margin: 0 auto;
  width: 70%;
}
.nav-link {
  cursor: none;
}
